## Predicting California Home Prices- LASSO

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

/opt/conda/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Read in training and test data
features_train = pd.read_csv('X_train.csv', index_col = 0)
features_test = pd.read_csv('X_test.csv', index_col = 0)
labels_train = pd.read_csv('y_train.csv', index_col = 0).squeeze()
labels_test = pd.read_csv('y_test.csv', index_col = 0).squeeze()

In [3]:
# View features
features_train.head()

,size_bath_interaction,city_Acton,city_Adelanto,city_Adin,city_Agoura,city_Agoura Hills,city_Agua Dulce,city_Aguanga,city_Ahwahnee,city_Alameda,...,city_Yorba Linda,city_Yorkville,city_Yosemite West,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zamora,city_Zenia
68244,3364.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27671,8907.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11895,6699.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60535,3400.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36982,2648.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Ensure Feature Data Types
features_train.dtypes

size_bath_interaction    float64
city_Acton                 int64
city_Adelanto              int64
city_Adin                  int64
city_Agoura                int64
                          ...
city_Yuba City             int64
city_Yucaipa               int64
city_Yucca Valley          int64
city_Zamora                int64
city_Zenia                 int64
Length: 1254, dtype: object

In [5]:
# LASSO model
from sklearn.linear_model import Lasso
model = Lasso(alpha=1.5)

In [ ]:
model.fit(features_train, labels_train)

In [ ]:
print(model.coef_)

In [ ]:
train_predictions = model.predict(features_train)
test_predictions = model.predict(features_test)

In [ ]:
# Accuracy
r2 = r2_score(labels_test, test_predictions)
print(f'The R squared of basic Linear Regression: {r2:.2f}')

mean_error = mean_absolute_error(labels_test, test_predictions)
print(f'The Mean Absolute Error of basic Linear Regression: {mean_error:.2f}')

rmse = sqrt(mean_squared_error(labels_test, test_predictions))
print(f'The Root Mean Squared Error of basic Linear Regression: {rmse:.2f}')

In [ ]:
# Function to train LASSO with different level of lambda